<div class="fondo">
    <div class="jum">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <div class= " bg-dark text-white jumbotron jumbotron">
                      <div class="container">
                        <h1 class="display-4">CEMIRTS</h1>
                          <p class="lead text-justify ">Empresa lider a nivel nacional en el area de telecomunicaciones y sistemas,desarrollando  nuevas tecnologias y mejoras de inovaccion tecnologica.Ademas de mejorar en los servicions
                        que ofrecen,para poder llegara competir en el mercado internacional</p>
                        </div>
                      </div>
                </div>
            </div>
            <div class="titulo">
              <div class="col-md-12">
                <div class="card-group">
                    <div class="bg-dark text-white card">

                      <div class="card-body">
                        <h5 class="card-title">Misición</h5>
                        <p class="text-justify card-text">Ser los provedores de servicios de mayor calidad y confiabilidad en el mercad,
                          cuadyuvando con el vienestar de nuestro vienestar y clientes.</p>
                          <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                      </div>
                      <div class="bg-dark text-white card">

                          <div class="card-body">
                              <h5 class="card-title">Objetivos</h5>
                              <p class="text-justify card-text">Cubrir y sastifacer las necesidades de cada unos de nuestros clientes.</p>
                                <p class="card-text"><small class="text-muted"></small></p>
                              </div>
                            </div>
                            <div class="bg-dark text-white card">

                              <div class="card-body">
                                  <h5 class="card-title">Valores</h5>
                                <ul>
                                  <li>Respeto</li>
                                </ul>
                                    <p class="card-text"><small class="text-muted"></small></p>
                                </div>

                                </div>
                              </div>
                                </div>
                                </div>
                              </div>
                            </div>
                          </div>
